body.has-control-menu .fieldset-modal {
	.modal-body {
		overflow-x: hidden;
	}

	.multi-panel-sidebar {
		position: absolute;
		top: 0;

		.field-type .dropdown-action {
			display: none;
		}

		.component-tbar {
			.container-fluid {
				margin-top: 4px;
			}
		}
	}

	.multi-panel-sidebar-content {
		position: absolute;
	}

	.add-fieldset,
	.tbar-item:not(.tbar-item--fields) {
		display: none;
	}

	.sheet {
		margin: 0 auto;
		max-width: 808px;
	}

	.ddm-drag {
		padding: 4px 0 9px;
	}

	.placeholder {
		&.row {
			.ddm-target {
				&.targetOver,
				&.target-over {
					background: #fff;
					border: none;
					border-radius: unset;
				}

				&.targetOver::after,
				&.target-over::after {
					border: 1px solid #0b5fff;
					bottom: 0;
					content: '';
					height: 2px;
					margin: auto;
					position: absolute;
					top: 0;
					width: calc(100% - 4px);
				}
			}
		}
	}
}

.fieldset-message {
	font-size: 14px;
}
